
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700;800&display=swap');

body {
    margin: 0;
}


#nero{
    color: #000000;
}

#rosa{
    color: #FC66C5;
}

#arancione{
    color: #FF914C;
}

#viola{
    color: #45159C;
}

#verde{
    color: #43B66A;
}

#marrone{
    color: #92542F;
}

#giallo{
    color: #FFFD54;
}

#azzurro{
    color: #47D6FD;
}

.label_button_link {
    text-decoration: none;
    color: black;
}

#header_main_1{
    top: 0;
    padding-top: 12px;
     padding-bottom: 12px;
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
    position: fixed;
    z-index: 1;
    transition: top 0.2s;
   background-color: #FC66C5 ;

       
}

#header_main_2{
    top: 0;
    padding-top: 12px;
     padding-bottom: 12px;
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
    position: fixed;
    z-index: 1;
    transition: top 0.2s;
    background-color: #92542F ;
}

#header_main_3{
    top: 0;
    padding-top: 12px;
     padding-bottom: 12px;
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
    position: fixed;
    z-index: 1;
    transition: top 0.2s;
    background-color: #FF914C;
}

.header_left{
     display: inline-block;
     padding-left: 2em;
    /*height: 14em;*/
}

#menuArea{
    display: none;
}

.header_right_desktop{
     display: inline-block;
     padding-right: 2em;
}

.header_right_mobile_open{
     display: none;
}
.header_right_mobile_close{
     display: none;
}

.header_logo{
    height: 50px;

}


.header_p{
    display: inline-block;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14pt;
    margin: 0;
    margin-right: 2em;
    color: white;
}

.header_p_2{
    display: inline-block;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14pt;
    margin: 0;
    margin-right: 2em;
   color: #FDF148;
}

.header_p_3{
    display: inline-block;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
       text-transform: capitalize;
    font-size: 14pt;
    margin: 0;
    margin-right: 2em;
    color: #FDF148;
}


.header_p:hover{
    color: #47D6FD;
}

.header_p_2:hover{
    color: #43B66A;
}

.header_p_3:hover{
    color: #45159C;
}

.button_header{
    color: #ffffff;
    background-color: #47D6FD;
    display: inline-block;
    margin: 0;
    margin-right: 0;
    padding: 0.5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    
   /* border-radius: 3em; */
}

.button_header_2{
    color: #FDF148;
    background-color: #43B66A;
    display: inline-block;
    margin: 0;
    margin-right: 0;
    padding: 0.5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
   /* border-radius: 3em; */
}


.button_header_3{
     color: #FDF148;
    background-color: #45159C;    
    display: inline-block;
    margin: 0;
    margin-right: 0;
    padding: 0.5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
  /*  border-radius: 3em; */
}

.button_header:hover{
    color: #47D6FD;
    background-color: white;
}

.button_header_2:hover{
     color: #43B66A;
    background-color: #FDF148;
}

.button_header_3:hover{
    color: #45159C;
    background-color: #FDF148;
}

.header_p_button{
    display: inline-block;
    font-family: 'Syne', sans-serif;
     font-weight: 700;
    text-transform: capitalize;
    font-size: 14pt;
    margin: 0.5rem;
    
}

.header_p_2_button{
    display: inline-block;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14pt;
    margin: 0.5rem;
    
}

.header_p_3_button{
    display: inline-block;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14pt;
    margin: 0.5rem;
}

/*
.header_p_button:hover{
  color: #ffffff;
}

.header_p_2_button:hover{
  color: #FDF148;
}

.header_p_3_button:hover{
  color: #FDF148;
}*/



#landing_section{
    background-color: #FC66C5;
}



.hero{
  width: 100%;
    object-fit: cover;
    height: 87vh;
}
.hero_mobile{
  display: none;
    width: 100%;
}

.landing_logo{
    margin: 0;
    position: absolute;
   top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    width: 30em;
      transition: 0.2s;
}


.landing_logo:hover{
    width: 40em;
}


#landing_section_carosello{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 8em;
       background-color: white;
}

/*
.scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }*/
}


/*ANIMAZIONE CAROSELLO */
#landing_section_carosello{
     /*top: 90vh;
    overflow: hidden;
    width: 100%; */
}

#carosello{
     
    margin: 0;
     font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 6em;
    color: #FC66C5;
    
    
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee span {
  display: inline-block;
  padding-left: 0;
  animation: marquee 250s linear infinite;
}

.marquee2 span {
  animation-delay: 0;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
} 




#freccia{
    position: absolute;
    bottom: 0;
    height: 1.5rem;
    width: 100%;
    padding-bottom: 7rem;
}


img.vert-move {
    -webkit-animation: mover 0.5s infinite  alternate;
    animation: mover 0.5s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}


       

#section_1{
    margin-top: 120px;
    margin-bottom: 120px;
    
} 

.title_section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.title_1{
    display: block;
     font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 42pt;
    margin-left: auto;
    margin-right: auto;
    color: #47D6FD;
    line-height: 1em;
    text-align: center;
    margin-bottom: 50px;
}

.p_section_1{
    display: block;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.paragraph{
     font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 18pt;

}

.paragraph_2{
     font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    line-height: 0.5em;
     line-height: 1em;
  
}

.paragraph_3{
     font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    line-height: 0;
    
}

.paragraph_4{
     font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 18pt;
       margin: 0;
}

.p_large{
     font-family: 'Syne', sans-serif;
    font-size: 24pt;
    font-weight: 700;
     line-height: 0;
    
}

.p_bold{
     font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 24pt;
      line-height: 0em;
  
}

.p_bold_2{
         font-family: 'Syne', sans-serif;
        font-size: 24pt;
    font-weight: 800;
    margin: 0;
}


#section_2{
    background-color: #FF914C;
    padding-top: 50px;
    padding-bottom: 120px;
}

.label_section{
    
    background-color: #FFFD54;

     width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding-top: 1px;
    padding-bottom: 1px;
    height: auto;
}

.label_section_2{
    
    background-color: #45159C;
   
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    height: auto;
}

.label_section_3{
    
    background-color: #FFFD54;
    margin-top: 50px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding-top: 1px;
    padding-bottom: 1px;
    height: auto;
}

.label_section_3:hover{
    
    background-color: black;
    color: #FFFD54;
}


#section_o{
    margin-top: 120px;
    margin-bottom: 120px;
    
} 


.ospiti_gruppo{

display: flex;
    margin: 10%;
    margin-bottom: 0px;
    margin-top: 120px;

    
}

.ospiti_slot{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}


#section_s{
    background-color: #47D6FD;
    padding-top: 50px;
    padding-bottom: 120px;
}







#section_3{
     width: 90%;
    margin: 4em;
    margin-top: 6em;
    padding-top: 1em;
    margin-bottom: 3em;

} 

#section_4{
    margin: 4em;
    margin-top: 4em;
    padding-top: 1em;
    margin-bottom: 12em;

} 

.section_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
   
}

.section_image{
    height: 34em;
    object-fit: cover;
    width: 100%;
    left: 0;
}

    .place_1{
        width: 30%;
        display: inline-block;
         vertical-align: top;
    }
      .place_2{
         width: 30%;
        display: inline-block;
           vertical-align: top;
    }
      .place_3{
         width: 30%;
        display: inline-block;
           vertical-align: top;
    }




.title_viola{
     font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 5em;
    margin-bottom: 0;
    color: #45159C;
}

.title_verde{
     font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 1.5em;
    color: #43B66A;
    text-align: center;
}

.sponsor{
    margin-top: 2em;
    display: flex;
    width: auto;
    height: 250px;
    justify-content: center;
    margin-left: 4em;
    
}

.sponsor_slot{
    height: 16em;
    width: auto;
    display: block;
       margin-right: 6em;
    margin-bottom: 6em;
  
}

.sponsor_image{
    height: inherit;
    width: inherit;
    display: flex;
    margin-left: auto;
    margin-right: auto;
 
}

.sponsor_p{
     font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 18pt;
    line-height: 0.5em;
    text-align: center;
}

.text{
     font-family: 'Syne', sans-serif;
          font-weight: 700;
    font-size: 2.5em;
    line-height: 1.4em;
}


.text_place{
     font-family: 'Syne', sans-serif;
     font-weight: 700;
    font-size: 2.5em;
    line-height: 1.4em;
}


.text_big{
     font-family: 'Syne', sans-serif;
     font-weight: 700;
    font-size: 3em;
    margin-bottom: 0;
}

.text_big_arancione{
     font-family: 'Syne', sans-serif;
     font-weight: 700;
    font-size: 3em;
    margin-bottom: 0;
    color: #FF914C;
}

.text_2{
     font-family: 'Syne', sans-serif;
    font-weight: 400;
    font-size: 18pt;
      margin-top: 0;
    line-height: 1.4em;
}

.minititle{
     font-family: 'Syne', sans-serif;
     font-weight: 700;
    font-size: 2em;
    line-height: 1.4em;
     font-weight: 600;
    color: #45159C;
    margin-bottom: 0.5em;
}

#bold_2{
     font-family: 'Syne', sans-serif;
    font-weight: 700;
}

#pink{
    color: #FC66C5;
}

.text_white{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: white;
}

.text_white_footer{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 16pt;
    margin-top: 1em;
    margin-bottom: 0;
    color: white;
    text-decoration: none;
    text-align: center;
    
}

#footer{
    display: block;
    background-color: black;
    padding: 3em;
    height: auto;
}

.rainbow_bar{
    height: 1em;
    display: flex;
}

.r_1{display: block; background-color: #FF1717;width: 100%}
.r_2{display: block; background-color: #FF914C;width: 100%}
.r_3{display: block; background-color: #FDF148;width: 100%}
.r_4{display: block; background-color: #43B66A;width: 100%}
.r_5{display: block; background-color: #004AAD;width: 100%}
.r_6{display: block; background-color: #5C2AB8;width: 100%}
.r_7{display: block; background-color: #92542F;width: 100%}
.r_8{display: block; background-color: #000000;width: 100%}

.footer_container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 1em;
}

.logo_footer{
    width: 13em;
}

.logo_footer_image{
    width: inherit;
}



.social_footer{
    display: flex;
    width: auto;
    height: 3.5em;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    column-gap: 2em;
    
}

.social_footer_icon{
    height: inherit;    
}


.social_footer_link{ 
    height: inherit;
}





@media only screen and (max-width: 980px) {
    
   
    
    .hero{
     display: none;
}
.hero_mobile{
    display: block;
    width: 100%;
    object-fit: cover;
    height: 93vh;

}

.sponsor_p{
     font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 36pt;
    line-height: 0.5em;
    text-align: center;
}
    
.paragraph{
     font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 32pt;

}

.paragraph_2{
     font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 32pt;
    line-height: 0.5em;
     line-height: 1em;
  
}

.paragraph_3{
     font-family: 'Syne', sans-serif;
    font-weight: 500;
    font-size: 32pt;
    line-height: 0;
    
}

.paragraph_4{
     font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 32pt;
       margin: 0;
}

.p_large{
     font-family: 'Syne', sans-serif;
        font-size: 42pt;
    font-weight: 600;
     line-height: 0;
    
}

.p_bold{
     font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 32pt;
      line-height: 0em;
  
}

.p_bold_2{
         font-family: 'Syne', sans-serif;
        font-size: 32pt;
    font-weight: 800;
    margin: 0;
}

    .p_section_1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 80%;
    text-align: center;
}

     .header_logo{
    height: 6em;
}
    
    
    #header_main_1{
        height: 7em;
        padding-top: 2em;
        background-color: #FC66C5;
    }
    
      #header_main_2{
        height: 8%;
        padding-top: 4em;
          background-color: #92542F;
    }
    
    
     #header_main_3{
        height: 8%;
        padding-top: 4em;
        background-color: #FF914C;
    }
    
   
    
    
.header_left{
     display: inline-block;
     padding-left: 4em;
    
}
    
    
    #menuArea{
        display: block;

}
    
    .header_right_desktop{
    display: none;
}
    
.header_right_mobile_open{
       display: inline-block;
     padding-right: 4em;

}
    
    .header_right_mobile_close{
       display: none;
}
    
    
    .landing_logo{
        
    width: 50em;
}

    
    #landing_section_carosello{
    /*top: 93vh;
    overflow: hidden;
    width: 100%;*/
}
    
    .label_section{
    
    background-color: #FFFD54;

     width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding-top: 1px;
    padding-bottom: 1px;
    height: auto;
}

    #section_2 {
        padding-top: 12em;
        padding-bottom: 16em;
    }
    
    #section_s {
        padding-top: 12em;
        padding-bottom: 16em;
    }
    
.label_section_2{
    
    background-color: #45159C;
   
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    height: auto;
}

.label_section_3{
    
    background-color: #FFFD54;
    margin-top: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding-top: 1px;
    padding-bottom: 1px;
    height: auto;
}
   

    
#carosello{
    margin: 0;
     font-family: 'Syne', sans-serif;
     font-weight: 700;
    font-size: 7em;
    color: #FC66C5;
}

    
 #freccia{
    position: absolute;
    bottom: 0;
    z-index: 100;
    display: block;
    height: 2.5rem;
    width: 100%;
    padding-bottom: 14em;
}

    
.title{
     font-family: 'Syne', sans-serif;
     font-weight: 700;
    font-size: 7.2em;
    margin-bottom: 0.5em;
    color: #47D6FD;
}
    
    
    
    
    /*sezione menu mobile*/
   input {
  display: none;
}

.open {
  background-color: white;
  width: 5em;
  height: 0.5em;
  display: block;
  position: relative;
  top: 0;
  right: 2em;
}

.open:before {
  content: "";
  background-color: white;
  width: 5em;
  height: 0.5em;
  display: block;
  position: relative;
  top: -1em;
  transform: rotate(0deg);
  transition: all 0.2s ease;
}

.open:after {
  content: "";
  background-color: white;
  width: 5em;
  height: 0.5em;
  display: block;
  position: relative;
  top: 0.5em;
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
 

    
.menuOpen {
  width: 4em;
  height: 2em;
  display: block;
    margin-top: 1em;
  padding: 3em;
  float: right;
}

.menuOpen:hover .open:before {
  top: -1em;
}

.menuOpen:hover .open:after {
   top: 0.5em;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
}

.menu .menuContent {
  position: relative;
  top: 2em;
  font-size: 52px;
  text-align: center;
  padding-bottom: 0px;
}

    
    
       .black_spacer {
  display: block;
  padding: 15%;
    background-color: #000000;
}
    
    .black_menu_1 a {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-family: Syne;
         font-weight: 700;
    text-transform: capitalize;
    font-size: 56pt;
  padding: 12%;
    background-color: #000000;
}
    
    .black_menu_1 a:hover {
  color: #47D6FD;
}
    
    

.rainbow_menu_1 a {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-family: Syne;
    font-size: 56pt;
  padding: 12%;
    background-color: #45159C;
}
    .rainbow_menu_2 a {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-family: Syne;
     font-size: 56pt;
  padding: 12%;
    background-color: #004AAD;
}
    
       .rainbow_menu_3 a {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-family: Syne;
  font-size: 56pt;
  padding: 12%;
    background-color: #43B66A;
}
    
       .rainbow_menu_4 a {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-family: Syne;
    font-size: 2em;
  padding: 12%;
    background-color: #FF914C;
}
      .rainbow_menu_5 a {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-family: Syne;
  font-size: 2em;
  padding: 12%;
    background-color: #FF1717;
} 


.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;

}


#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: white;
  transform: rotate(45deg);
  position: fixed;
  top: 4.5em;
  right: 3em;
  z-index: 1;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: white;
  transform: rotate(-45deg);
position: fixed;
  top: 4.5em;
  right: 3em;
  z-index: 1;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}

    
    
    
    #section_3{
       
   margin: 4em;
    padding-top: 12em;
}
    
    
#section_4{
    margin: 4em;
    margin-top: 0em;
    padding-top: 0em;
    margin-bottom: 0em;

} 
    
    .section_info{
        display: block;

}
    
        .place_1{
            width: 100%;
        display: block;
            margin-bottom: 6em;
    }
      .place_2{

            width: 100%;
        display: block;
          margin-bottom: 6em;
    }
      .place_3{
            width: 100%;
        display: block;
          margin-bottom: 6em;
    }

    

    
    
    
    .title_verde{
    font-size: 6em;
     margin-bottom: 0;
}

.sponsor{
    
    display: block;
    width: 70%;
    height: auto;
    margin-top: 10em;
    margin-bottom: 5em;
    margin-left: 25%;
    align-self: center;
    
}

.sponsor_slot{
    height: inherit;
    width: inherit;
    display: inline-block;
   

}
    
    .text_2{
     font-family: 'Syne', sans-serif;
    font-size: 32pt;
      margin-top: 0;
    line-height: 2em;
}


    
    #footer{
    padding: 5em;
    height: auto;

  }
    
    .footer_container{
    display: block; 
    padding-bottom: 4em;
}
    
    .logo_footer{
    width: 100%;
    height: 160px;
}
    
.logo_footer_image{
    height: inherit;
}

    .text_white_footer{    
    position: inherit;
    text-align: center;
    right: auto;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 16pt;
    margin-top: 3em;
    margin-bottom: auto;
    color: white;
    text-decoration: none;
}
    
    .social_footer{
    display: flex;
    width: 100%;
    height: 7em;
    justify-content: center;
    column-gap: 10%;
    margin-top: 4em;
}
    

.social_footer_link{ 
    width: auto;
    height: inherit; 
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        /*COLORI _DIVERSI*/

.open_2 {
  background-color: #FDF148;
  width: 5em;
  height: 0.5em;
  display: block;
  position: relative;
  top: 0;
  right: 2em;
}

.open_2:before {
  content: "";
  background-color: #FDF148;
  width: 5em;
  height: 0.5em;
  display: block;
  position: relative;
  top: -1em;
  transform: rotate(0deg);
  transition: all 0.2s ease;
}

.open_2:after {
  content: "";
  background-color: #FDF148;
  width: 5em;
  height: 0.5em;
  display: block;
  position: relative;
  top: 0.5em;
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
 

    
.menuOpen {
  width: 4em;
  height: 2em;
  display: block;
  padding: 2em;
  float: right;
}

.menuOpen:hover .open_2:before {
  top: -1em;
}

.menuOpen:hover .open_2:after {
   top: 0.5em;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
}

.menu .menuContent {
  position: relative;
  top: 2em;
  font-size: 52px;
  text-align: center;
  padding-bottom: 0px;
}

   

.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;

}


#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open_2 {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open_2:before {
  content: "";
  background-color: #FDF148;
  transform: rotate(45deg);
  position: fixed;
  top: 6em;
  right: 3em;
  z-index: 1;
}

#menuToggle:checked ~ .menuOpen .open_2:after {
  content: "";
  background-color:  #FDF148;
  transform: rotate(-45deg);
position: fixed;
  top: 6em;
  right: 3em;
  z-index: 1;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}

    
    